@model dynamic

@{
    ViewBag.Title = "TopoR FST to Eagle SCR Converter";
}

<h2>TopoR FST to Eagle SCR Converter</h2>

<form action="" method="post" enctype="multipart/form-data">

    <label for="file">FST File:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" value="Convert" />
</form>